@import '../config/color';

@mixin button {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  height: 32px;
  font-size: 18px;
}

.btn-normal {
  @include button;
  background: $normal-background-color;
  color: $normal-text-color;

  &:hover {
    background-color: $normal-background-hover-color;
  }
}

.btn-primary {
  @include button;
  background: $primary-background-color;
  color: $primary-text-color;

  &:hover {
    background-color: $primary-background-hover-color;
  }
}
