@import '../config/color';

.tweet {
  border-bottom: 1px solid $border-color;
  display: flex;
  padding: 8px;
}

.tweet-avator {
  height: 48px;
  width: 48px;
  margin-right: 8px;
}

.tweet-content {
  display: flex;
  flex-direction: column;
}

.tweet-display-name {
  font-size: 18px;
  margin-right: 4px;
}

.tweet-screen-name {
  color: $sub-text-color;
  font-size: 14px;
  margin-right: 4px;
}

.tweet-posted-time {
  color: $sub-text-color;
  font-size: 14px;
}

.tweet-link-text {
  color: $link-text-color;
  cursor: pointer;
  &:hover { text-decoration: underline; }
}

.tweet-posted-images-area {
  display: flex;
  flex-wrap: wrap;
  max-height: 500px;
  overflow: hidden;
}
